.content__items_date{
    text-align: center;
    .content__items_date-time{
        font-size: 72px;
        font-weight: bold;
        margin: 0 0 10px 0;
    }
    .content__items_date-date{
        font-size: 28px;
    }
}