.content__items_date{
    text-align: center;
    width: 250px;
    .content__items_date-time{
        font-size: 72px;
        font-weight: bold;
        margin: 0 0 10px 0;
        width: 200px;
        @media screen and (max-width: 1200px) {
            font-size: 32px;
            width: 110px;
            margin: 0 auto;
         }
         @media screen and (max-width: 768px) {
            font-size: 24px;
            width: 82px;
            margin: 0 auto;
         }
         
    }
    .content__items_date-date{
        font-size: 28px;
        @media screen and (max-width: 1200px) {
            font-size: 21px;
            margin: 10px 0 0 0;
         }
         @media screen and (max-width: 768px) {
            font-size: 15px;
            margin: 5px 0 0 0;
         }
         
    }
}